@model MvcrazorLabb4.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera</h1>

<h3>Är du säker på att du vill radera detta?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorFName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorFName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorLName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorLName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BookId" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka till listan</a>
    </form>
</div>
